body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  max-height: 650px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mass-item {
  color: black;
  font-size: 16px;
  display: block;
  padding-top: 10px;
  text-align: left;
  float: left;
  margin-bottom: 3px;
  padding-bottom: 10px;
}

.mass-item-title {
  font-weight: bold;
}

#mass-list {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}

.mass-list-title {
  border-bottom: thin solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-wrapper {
  font-style: italic;
  text-align: center;
  margin: 15px;
}

.index-display {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: thin solid black;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

